# fillna()

In [1]:
import pandas as pd
wdi = pd.read_pickle('wdi.pkl')

In [2]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 406 non-null    float64
 3   compulsory_education_years      412 non-null    float64
 4   health_expenditure_pct_of_gdp   427 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              432 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  215 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.5+ KB

In [3]:
wdi_numeric = wdi.select_dtypes(include='number')
wdi_numeric.head()

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.70100,64.130000,55.595993,36296400.0,NaN,14.090000,10.416000,11.184000,2017,0
1,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.60100,78.333000,104.870693,2873457.0,NaN,12.563000,14.590000,13.750000,2017,0
2,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.30700,76.499000,17.377715,41389198.0,NaN,21.114000,10.021000,11.996000,2017,0
3,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.67700,60.379000,23.916538,29816748.0,NaN,7.467000,6.769000,7.119000,2017,0
4,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.92125,71.622526,36.669804,411898967.0,NaN,20.361396,8.097088,10.641313,2017,1

In [4]:
numeric_cols = wdi_numeric.columns
numeric_cols

Index(['access_to_electricity_pct', 'atms_per_100000',
       'compulsory_education_years', 'health_expenditure_pct_of_gdp',
       'gdp_per_capita_usd', 'gdp_per_capita_ppp', 'life_expectancy_female',
       'life_expectancy_male', 'life_expectancy', 'population_density',
       'population', 'alcohol_consumption_per_capita',
       'unemployment_rate_female', 'unemployment_rate_male',
       'unemployment_rate', 'year', 'is_region'],
      dtype='object')

In [5]:
cat_cols = wdi.select_dtypes(exclude='number').columns
cat_cols

Index(['country_name', 'country_category'], dtype='object')

In [6]:
wdi[numeric_cols]

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,NaN,14.090000,10.416000,11.184000,2017,0
1,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,NaN,12.563000,14.590000,13.750000,2017,0
2,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,NaN,21.114000,10.021000,11.996000,2017,0
3,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,NaN,7.467000,6.769000,7.119000,2017,0
4,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.921250,71.622526,36.669804,4.118990e+08,NaN,20.361396,8.097088,10.641313,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442000,71.207000,75.317000,308.125246,9.554040e+07,8.66000,1.831000,2.142000,1.993000,2018,0
430,100.000000,24.735190,10.0,NaN,3562.330943,6472.121785,75.595000,72.263000,73.895000,758.984551,4.569087e+06,NaN,41.849998,22.393999,26.256001,2018,0
431,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,6.18124,5.580954,5.271615,5.392213,2018,1
432,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447000,60.533000,63.510000,23.341479,1.735182e+07,6.54000,12.448000,10.614000,11.500000,2018,0
433,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598000,59.501000,61.195000,37.324591,1.443902e+07,4.67000,5.598000,4.555000,5.087000,2018,0

In [7]:
wdi[numeric_cols].fillna(-999)

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,-999.00000,14.090000,10.416000,11.184000,2017,0
1,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,-999.00000,12.563000,14.590000,13.750000,2017,0
2,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,-999.00000,21.114000,10.021000,11.996000,2017,0
3,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,-999.00000,7.467000,6.769000,7.119000,2017,0
4,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.921250,71.622526,36.669804,4.118990e+08,-999.00000,20.361396,8.097088,10.641313,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442000,71.207000,75.317000,308.125246,9.554040e+07,8.66000,1.831000,2.142000,1.993000,2018,0
430,100.000000,24.735190,10.0,-999.000000,3562.330943,6472.121785,75.595000,72.263000,73.895000,758.984551,4.569087e+06,-999.00000,41.849998,22.393999,26.256001,2018,0
431,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,6.18124,5.580954,5.271615,5.392213,2018,1
432,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447000,60.533000,63.510000,23.341479,1.735182e+07,6.54000,12.448000,10.614000,11.500000,2018,0
433,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598000,59.501000,61.195000,37.324591,1.443902e+07,4.67000,5.598000,4.555000,5.087000,2018,0

In [8]:
wdi[numeric_cols] = wdi[numeric_cols].fillna(-999)

In [9]:
wdi[cat_cols] = wdi[cat_cols].fillna('MISSING')

In [10]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 434 non-null    float64
 3   compulsory_education_years      434 non-null    float64
 4   health_expenditure_pct_of_gdp   434 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              434 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  434 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                434 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.5+ KB

In [11]:
wdi['alcohol_consumption_per_capita'].value_counts(dropna=False)

-999.000000    219
 0.690000        3
 12.030000       2
 2.050000        2
 0.019000        2
              ...
 2.300000        1
 8.940000        1
 4.065725        1
 11.350000       1
 2.710000        1
Name: alcohol_consumption_per_capita, Length: 205, dtype: int64

In [12]:
wdi['country_category'].value_counts(dropna=False)

DEVELOPING    224
MISSING       152
DEVELOPED      58
Name: country_category, dtype: int64

# SimpleImputer

In [13]:
wdi = pd.read_pickle('wdi.pkl')

In [14]:
numeric_cols = wdi.select_dtypes(include='number').columns

In [15]:
cat_cols = wdi.select_dtypes(exclude='number').columns

In [16]:
from sklearn.impute import SimpleImputer

In [17]:
SimpleImputer(strategy='constant', fill_value=-999)

SimpleImputer(fill_value=-999, strategy='constant')

In [18]:
simple_imp_num = SimpleImputer(strategy='constant', fill_value=-999)
simple_imp_num.fit_transform(wdi[numeric_cols])

array([[9.77000000e+01, 1.21323506e+00, 9.00000000e+00, ...,
        1.11840000e+01, 2.01700000e+03, 0.00000000e+00],
       [1.00000000e+02, 3.17140757e+01, 9.00000000e+00, ...,
        1.37500000e+01, 2.01700000e+03, 0.00000000e+00],
       [1.00000000e+02, 9.13067681e+00, 1.00000000e+01, ...,
        1.19960003e+01, 2.01700000e+03, 0.00000000e+00],
       ...,
       [8.95885512e+01, 4.09496204e+01, 1.00000000e+01, ...,
        5.39221306e+00, 2.01800000e+03, 1.00000000e+00],
       [3.98126221e+01, 1.15546644e+01, 7.00000000e+00, ...,
        1.15000000e+01, 2.01800000e+03, 0.00000000e+00],
       [4.10415840e+01, 6.62520801e+00, 7.00000000e+00, ...,
        5.08699989e+00, 2.01800000e+03, 0.00000000e+00]])

In [19]:
type(simple_imp_num.fit_transform(wdi[numeric_cols]))

numpy.ndarray

In [20]:
wdi[numeric_cols].head(2)

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,97.7,1.213235,9.0,11.777236,519.884773,2058.383832,65.656,62.701,64.130,55.595993,36296400.0,NaN,14.090,10.416,11.184,2017,0
1,100.0,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148,76.601,78.333,104.870693,2873457.0,NaN,12.563,14.590,13.750,2017,0

In [21]:
imputed_num = simple_imp_num.fit_transform(wdi[numeric_cols])
imputed_num.shape

(434, 17)

In [22]:
wdi[numeric_cols] = imputed_num

In [23]:
wdi

,country_name,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,country_category,is_region
0,Afghanistan,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,-999.00000,14.090000,10.416000,11.184000,2017.0,DEVELOPING,0.0
1,Albania,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,-999.00000,12.563000,14.590000,13.750000,2017.0,DEVELOPING,0.0
2,Algeria,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,-999.00000,21.114000,10.021000,11.996000,2017.0,DEVELOPING,0.0
3,Angola,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,-999.00000,7.467000,6.769000,7.119000,2017.0,DEVELOPING,0.0
4,Arab World,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.921250,71.622526,36.669804,4.118990e+08,-999.00000,20.361396,8.097088,10.641313,2017.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,Vietnam,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442000,71.207000,75.317000,308.125246,9.554040e+07,8.66000,1.831000,2.142000,1.993000,2018.0,DEVELOPING,0.0
430,West Bank and Gaza,100.000000,24.735190,10.0,-999.000000,3562.330943,6472.121785,75.595000,72.263000,73.895000,758.984551,4.569087e+06,-999.00000,41.849998,22.393999,26.256001,2018.0,DEVELOPING,0.0
431,World,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,6.18124,5.580954,5.271615,5.392213,2018.0,NaN,1.0
432,Zambia,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447000,60.533000,63.510000,23.341479,1.735182e+07,6.54000,12.448000,10.614000,11.500000,2018.0,DEVELOPING,0.0
433,Zimbabwe,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598000,59.501000,61.195000,37.324591,1.443902e+07,4.67000,5.598000,4.555000,5.087000,2018.0,DEVELOPING,0.0

In [24]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 434 non-null    float64
 3   compulsory_education_years      434 non-null    float64
 4   health_expenditure_pct_of_gdp   434 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              434 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  434 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    float64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    float64
dtypes: float64(17), object(2)
memory usage: 64.5+ KB

In [25]:
simple_imp_cat = SimpleImputer(strategy='constant', fill_value='MISSING')
imputed_cat = simple_imp_cat.fit_transform(wdi[cat_cols])
wdi[cat_cols] = imputed_cat

In [27]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 434 non-null    float64
 3   compulsory_education_years      434 non-null    float64
 4   health_expenditure_pct_of_gdp   434 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              434 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  434 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    float64
 17  country_category                434 non-null    object
 18  is_region                       434 non-null    float64
dtypes: float64(17), object(2)
memory usage: 64.5+ KB

In [26]:
wdi['country_category'].value_counts(dropna=False)

DEVELOPING    224
MISSING       152
DEVELOPED      58
Name: country_category, dtype: int64